@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: .875rem;
}

h1, h2, h3, h4 {
  letter-spacing: .1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 2rem;
}

.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: .1rem;
  margin: 0 0.5rem;
  transition: all .3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: #e0fcff;
}

.job-btn:hover {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}

.active-btn {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}

.job-info h3 {
  font-weight: 400;
}

.job-info h4 {
  text-transform: uppercase;
  color: #617d98;
  background: #dae2ec;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.job-date {
  color: #617d98;
  letter-spacing: .1rem;
  margin-bottom: 1.25rem;
}

.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.job-desc p {
  margin-bottom: 0;
  color: #324d67;
}

.job-icon {
  color: #2caeba;
}

.btn {
  text-transform: uppercase;
  background: #2caeba;
  color: #bff8fd;
  padding: 0.375rem 0.75rem;
  letter-spacing: .1rem;
  font-weight: 700;
  transition: all .3s linear;
  font-size: .875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 0.25rem;
  display: block;
  width: 12rem;
  text-align: center;
  margin: 3rem auto 0;
}

@media screen and (min-width: 800px){
  h2 {
      font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px){
  .section {
    width: 95vw;
  }
}

@media screen and (min-width: 800px){
  body, h4 {
      font-size: 1rem;
  }
}

@media screen and (min-width: 992px){
  .jobs-center {
      width: 90vw;
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-column-gap: 4rem;
      column-gap: 4rem;
  }
}

@media screen and (min-width: 992px){
  .btn-container {
      flex-direction: column;
      justify-content: flex-start;
  }
}

@media screen and (min-width: 992px){
  .active-btn, .job-btn:hover {
      box-shadow: -2px 0 #2caeba;
  }
}

@media screen and (min-width: 992px){
  .job-btn {
      margin-bottom: 1rem;
  }    
}

@media screen and (min-width: 800px){
  h1, h2, h3, h4 {
      line-height: 1;
  }    
}

@media screen and (min-width: 800px){
  h3 {
      font-size: 1.55rem;
  }
}